     /* === CZCIONKA === */
     @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

     * {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
     }

     /* === ZMIENNE === */
     :root {
         --color-bg-panel: #0b192b;
         --color-bg-gradient-1: #0b0a2d;
         --color-bg-gradient-2: #1b375c;
         --color-text-main: #eee;
         --color-text-green: #1ccf00;
         --color-text-yellow: #ecd53f;
         --color-text-gray: #d0d0d0;
         --color-border: #2f61d5;
         --color-button: #a60000;
         --color-button-hover: #ff5858;
         --color-shadow: rgba(0, 0, 0, 0.6);
         --shadow-big-blur: 12px;
         --shadow-medium: 0 0 var(--shadow-big-blur) var(--color-shadow);
         --shadow-soft: 1px 1px 2px var(--color-shadow);
         --radius: 10px;

     }

     /* === LAYOUT: PANEL LEWO, CANVAS PRAWO === */
     body {
         display: flex;
         overflow: auto;
         min-height: 100vh;
         flex-direction: row;
         justify-content: center;
         align-items: flex-start;
         gap: 10px;
         padding: 14px;
         font-family: "Noto Sans", system-ui, sans-serif, "Segoe UI", Roboto, "Helvetica Neue", Arial;
         font-size: 14px;
         color: var(--color-text-main);
         background-image: linear-gradient(45deg, var(--color-bg-gradient-1), var(--color-bg-gradient-2) 50%, var(--color-bg-gradient-1) 100%);
     }

     /* === PANEL === */
     #controls {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         min-width: 320px;
         width: 320px;
         background: var(--color-bg-panel);
         padding: 6px var(--radius) 12px;
         border-radius: var(--radius);
         border: 1px solid var(--color-border);
         box-shadow: var(--shadow-medium);
         overflow: auto;
         line-height: 1.5;
         max-height: calc(100vh - 28px);
     }

     #controls h3 {
         text-align: center;
         font-size: 18px;
         font-weight: 700;
         color: var(--color-text-main);
         text-shadow: 0 0 var(--shadow-big-blur) var(--color-border);
     }

     /* === STATYSTYKI === */

     .hist {
         display: flex;
         width: 100%;
         justify-content: space-around;
         margin: 8px 0 0;
     }

     .hist .pill {
         width: 32%;
         padding: 3px 4px 6px;
         text-align: center;
         border: 1px solid var(--color-border);
         background: var(--color-bg-panel);
         text-shadow: var(--shadow-soft);
         box-shadow: none;
         border-radius: var(--radius);
         font-size: 12px;
     }

     .pill b {
         display: inline-block;
         min-width: 30px;
         font-weight: 700;
     }

     .pill #best {
         color: var(--color-text-green);
     }

     .pill #pop {
         color: var(--color-text-yellow);
     }

     .pill #gen {
         color: var(--color-text-gray);
     }

     /* === PARAMETRY === */
     .params {
         background: var(--color-bg-panel);
         padding: 0 3px;
         margin: 5px 0 10px;
     }

     .param-line {
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 4px 0 4px;
     }

     label {
         color: var(--color-text-gray);
     }

     input[type=range] {
         width: 100%;
         margin-bottom: 6px;
         line-height: 1.5;
         cursor: pointer;
     }

     .buttons {
         display: flex;
         width: 100%;
         justify-content: space-around;
     }

     button {
         border: none;
         transition: all 0.2s;
         cursor: pointer;
         color: var(--color-text-main);
         border-radius: var(--radius);
         text-shadow: var(--shadow-soft);
         box-shadow: var(--shadow-medium);
         padding: 5px 18px 8px;
         background: var(--color-button);
     }

     button:hover {
         background: var(--color-button-hover);
     }

     /* === OPIS === */
     .desc {
         padding: 10px;
         background: var(--color-bg-gradient-2);
         border-radius: var(--radius);
         border: 1px solid var(--color-border);
         color: var(--color-text-gray);
         text-align: justify;
         line-height: 1.4;
         /* text-indent: 18px; */
         box-shadow: var(--shadow-medium);
         width: 100%
     }
     .info {
         padding: 10px;
         color: var(--color-text-gray);
         text-align: justify;
         line-height: 1.4;
         width: 100%
     }

     /* === CANVAS === */
     #cv {
         width: 100%;
         background: var(--color-bg-panel);
         border-radius: var(--radius);
         box-shadow: var(--shadow-medium);
     }

     #left {
         overflow: auto;
         display: flex;
         min-width: 320px;
         width: 320px;
         flex-direction: column;
         justify-content: flex-start;
         line-height: 1.5;
         max-height: calc(100vh - 28px);
         border-radius: var(--radius);
     }
    a {
        color: #b6f0ff;
        text-decoration: none;
        font-weight: bold;
    }
     #hist {
         margin-top: 9px;
         height: 96px;
         padding: 0 5px;
         border: 1px solid var(--color-border);
         border-radius: var(--radius);
         box-shadow: var(--shadow-medium);
     }

     /* === RESPONSYWNOŚĆ === */
     @media screen and (max-width: 799px) {
         body {
             flex-direction: column;
             align-items: center;
             width: 100%;
         }

         #controls {
             min-width: 100vw;
             max-width: 720px;
         }

         #cv {
             width: 100vw;
             height: 100vw;
         }
     }
     p {
  text-indent: 18px;
  margin-bottom: 8px;
}
h2, h3 {
  color: var(--color-text-main);
  text-shadow: 0 0 var(--shadow-big-blur) var(--color-border);
}
h2 {
  font-weight: 800;
  text-align: center;
  font-size: 1.7em;
}
h3 {
  margin-bottom: 8px;
  font-size: 15px;
}

.desc ul, .center ul {
  margin-left: 18px;
  margin-bottom: 8px;
  color: var(--color-text-gray);
}
.center ul {
  margin-bottom:0;
}
.history p {
  font-size: 12px;
  margin-bottom:0;
}
.right {
    width: 660px;
    max-width: 100%;
}